
<h3>{% trans %}Hello{% endtrans %}, {{ name }}!</h3>

<p>{% trans %}msg_new_password{% endtrans %}: <b>{{ password }}</b></p>
<p>{% trans %}msg_new_password{% endtrans %}: <b>{{ password }}</b></p>


<p>{% trans %}regards{% endtrans %}.</p>
<img src="{{ absolute_url(asset('images/logotipo.png')) }}">