
<p>{% trans %}hello{% endtrans %}, {{ name }}!</p>
<p>{% trans %}welcome{% endtrans %}:</p>
<p>{% trans %}msg_new_user{% endtrans %}:</p>

<p><b>nickname:</b> {{ nickname }}</p>
<p><b>password:</b> {{ password }}</p>

<p>{% trans %}regards{% endtrans %}.</p>

<img src="{{ absolute_url(asset('images/logotipo.png')) }}">